<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authentication mode="Forms" />
    <membership defaultProvider="LocalMembershipProvider" />
    <roleManager enabled="true" />
    <httpModules>
      <add name="LegacyModule" type="Legacy.Module, Legacy" />
    </httpModules>
    <httpHandlers>
      <add path="*.legacy" verb="*" type="Legacy.Handler, Legacy" />
    </httpHandlers>
    <compilation targetFramework="4.8" />
  </system.web>
</configuration>
