@using System.Web
@{
    var server = "Server.";
    var request = "Request.";
    var response = "Response.";
    var context = "HttpContext";
}
<h1>Legacy Sample View</h1>
<p>@server @request @response @context</p>
